## mako
<%!
  from django.utils.translation import ugettext as _
%>
<%namespace name='static' file='/static_content.html'/>

<%inherit file="/main.html" />

<%block name="title"><title>${_('Privacy Policy')}</title></%block>

<section class="container privacy" style="width: auto;">

  <section class="vision">

## Privacy Policy Section ##
    <section class="message left" id="privacy">
   
      <article>
        <h3 style="color:#0000ff;font-size:30px">${_('Privacy Policy')}</h3>

<table border=0>	
<tr><td style="font-family: 'Times New Roman', Times, serif;text-align: justify;line-height: 28px;font-size:20px"><br />This Portal does not automatically capture any specific personal information from you, (like name, phone number or e-mail address), that allows us to identify you individually.
<br />Portal requests you to provide personal information, you will be informed for the particular purposes for which the information is gathered and adequate security measures will be taken to protect your personal information.
<br />We do not sell or share any personally identifiable information volunteered on this Portal site to any third party (public/private). Any information provided to this Portal will be protected from loss, misuse, unauthorized access or disclosure, alteration, or destruction.
<br />We do not sell or share any personally identifiable information volunteered on this Portal site to any third party (public/private).</td></tr>
</table>
 
      </article>
      <hr class="fade-right-hr-divider">
    </section>
</section>

</section>
	
